.room-item:after {
    content: none!important
}

.room-item {
    min-height: 95px;
}

.room-item h4 {
    font-size: 20px;
    margin: 0;
}

.photos, .controls {
    float: right
}

.search {
    width: 100%
}

.controls a {
    margin-left: 10px
}

.photos {
    margin-right: 40px
}

.content {
    float: left
}

.photo {
    width: 50px;
    height: 50px;
    background: #2C3E50;
    border: 2px solid #34495E;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-left: -10px;
}

.photo img {
    width: 100%
}

.photo span {
    text-align: center;
    font-weight: 700;
    width: 100%;
    display: block;
    line-height: 49px;
}
