.room-card {
    padding: 50px 50px 35px;
    display: block;
    border: 3px solid #34495E;
    border-radius: 5px;
    height: 330px;
}

.photo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border: 3px solid #34495E;
    border-radius: 7px;
    overflow: hidden;
}

.img {
    width: 100%;
}

.name {
    margin-bottom: 60px
}

.name, .rkd, .wins, .loses {
    text-align: center;
}

.rkd:before { content: 'Ranked' }

.wins:before { content: 'Wins'}

.loses:before { content: 'Loses' }

.rkd:before,
.wins:before,
.loses:before  {
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    text-align: center;
}

.room-card.placeholder, .room-card.placeholder .photo, .room-card.placeholder .name {
    border-style: dashed;
}

.room-card.placeholder .rkd:before,
.room-card.placeholder .wins:before,
.room-card.placeholder .loses:before {
    content: " ";
    border: 2px dashed #34495E;
    height: 35px;
    width: 80%;
    margin: 0 auto;
}

.room-card.placeholder .name {
    border-width: 2px;
    border-color: #34495E;
    padding: 10px
}
